.resetPage{
    min-height: 100vh;
    background-image: url(../../assets/login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        closest-corner,
        rgba(10, 63, 91, 0.2),
        rgba(10, 63, 91, 0.4),
        rgba(10, 63, 91, 0.6),
        rgba(10, 63, 91, 0.8),
        rgba(10, 63, 91, 1)
      );
    z-index: 1;
}

.formContainer {
    position: relative;
    z-index: 10;
    min-width: 450px;
    padding: 30px;
    background-color: rgba(10, 63, 91,1); 
}

.formContainer form {
    display: grid;
    flex-direction: column;
    color: #fff;
}

.spinner{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(
        closest-corner,
        rgba(10, 63, 91, 0.2),
        rgba(10, 63, 91, 0.4),
        rgba(10, 63, 91, 0.6),
        rgba(10, 63, 91, 0.8),
        rgba(10, 63, 91, 1)
      );
}

@media screen and (max-width:480px){
    .formContainer{
        min-width: 340px;
    }
}
@media screen and (max-width:375px){
    .formContainer{
        min-width: 285px;
    }
}